@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-select.scss';

* {
	z-index: 50;
}

html,
body {
	@apply text-white;

	background-color: rgb(3 0 20 / 1);
	height: 100%;
}

/* Custom ScrollBar */

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	@apply bg-gray-500 rounded-full;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.DraftEditor-root {
	z-index: 1;
}

.slide-animation-enter {
	opacity: 0;
	transform: scale(0.9);
}

.slide-animation-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition:
		opacity 300ms,
		transform 300ms;
}

.slide-animation-exit {
	opacity: 1;
}

.slide-animation-exit-active {
	opacity: 0;
	transform: scale(0.9);
	transition:
		opacity 300ms,
		transform 300ms;
}
